<!DOCTYPE html>
<html>
<head>
    <title>Ingreso Empleados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Bienvenido a nuestra PYME</h2>

    <!-- Formulario de ingreso: abre la cámara al hacer clic -->
    <form action="{{ url_for('ingreso_camera') }}" method="get">
        <button type="submit">Iniciar Ingreso</button>
    </form>

    <!-- Botón de registros -->
    <form action="{{ url_for('registros') }}" method="get">
        <button type="submit">Registros</button>
    </form>
</body>
</html>
