<!DOCTYPE html>
<html>
<head>
    <title>Registros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='registros.css') }}">
</head>
<body>
    <h2>Lista de registros</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Acción</th>
            <th>Fecha</th>
        </tr>
        {% for r in registros %}
        <tr>
            <td>{{ r[0] }}</td>
            <td>{{ r[1] }}</td>
            <td>{{ r[2] }}</td>
            <td>{{ r[3] }}</td>
            <td>{{ r[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

    <br><br>
    <a href="{{ url_for('index') }}">
        <button>ATRÁS</button>
    </a>

</body>
</html>